{% extends 'olapp/student_base.html' %}
{% block body_block %}
    <h1>Course Search</h1>
    <form method="get" action="{% url 'olapp:search_course' %}">
        <input type="text" name="search_query" placeholder="Enter search query" required=true>
        <button type="submit">Search</button>
    </form>
    {% if msg %}
    <p>{{msg}}</p>
    {% endif %}
    {% if courses|length > 0 %}
        <h2>Search Results:</h2>
        <ul>
            {% for course in courses %}
                <li>{{ course.name }} - {{ course.instructor.first_name }} {{ course.instructor.last_name }}</li>
                
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}