{% extends 'olapp/student_base.html' %}
{% block body_block %}
    <h1>Course Search</h1>
    <form method="get" action="{% url 'olapp:search_course' %}">
        <input type="text" name="search_query" placeholder="Enter search query" required=true>
        <button type="submit">Search</button>
    </form>
    {% if msg %}
    <p>{{msg}}</p>
    {% endif %}
    {% if courses|length > 0 %}
        <h2>Search Results:</h2>
        <ul>
            {% for course in courses %}
            <li>
                <!-- Check if the student has already paid for this course -->
                {{ course.name }} - {{ course.instructor.first_name }} {{ course.instructor.last_name }}
                {% if course not in user.student.courses.all %}
                    <a href="{% url 'olapp:student_course_brief_detail' pk=course.id %}">
                    <button>View Course Overview</button></a>
                    {%if user.student.membership == 'G'%}
                        <a href="{% url 'olapp:course_payment' pk=course.id %}">
                        <button>Add</button></a>
                    {% else %}
                        <a href="{% url 'olapp:course_payment' pk=course.id %}">
                        <button>Pay</button></a>
                    {%endif%}
                {% else %}
                    <a href="{% url 'olapp:student_course_detail' pk=course.id %}">
                    <button>View Course </button></a>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}