{% if user.is_authenticated %}
    <li class="hbar1"><a href = "{% url 'olapp:instructor_homepage'%}"> Instructor Homepage </a><br/></li>
    <li class="hbar1"><a href = "{% url 'olapp:student_homepage'%}"> Student Homepage </a><br/></li>
    <li class="hbar1"><a href = "{% url 'olapp:logout'%}"> Logout </a><br/></li>
{% else %}
    <li class="hbar1"><a href = "{% url 'olapp:instructor_login'%}"> Instructor Login </a><br/></li>
    <li class="hbar1"><a href = "{% url 'olapp:instructor_signup'%}"> Instructor Signup </a><br/></li>
    <li class="hbar1"><a href = "{% url 'olapp:student_login'%}"> Student Login </a><br/></li>
    <li class="hbar1"><a href = "{% url 'olapp:student_signup'%}"> Student Signup </a><br/></li>
{% endif %}

