

{% extends 'olapp/instructor_base.html' %}
{% block body_block %}
    <h1>{{ course.name }}</h1>
    <p>{{ course.description }}</p>

    <h2>Video Lectures</h2>
    {% for video_lecture in course.videolecture_set.all %}
        <p>{{ video_lecture.title }}
        <a href="{% url 'olapp:instructor_videolecture_view' pk=video_lecture.id %}">
            <button>View Video</button> </p>
        </a>
    {% endfor %}
    <a href="{% url 'olapp:instructor_add_videolecture' course.id %}">Add Video Lecture</a>

    <h2>Quizzes</h2>
    {% for quiz in course.quiz_set.all %}
        <p>{{ quiz.title }}
        <a href="{% url 'olapp:instructor_quiz_detail' pk=quiz.id %}">
            <button>View Quiz</button></a> </p>
    {% endfor %}
    <a href="{% url 'olapp:create_quiz' course.id %}">Add Quiz</a>
    
    <h2>Students</h2>
    {% for detail in student_details %}
        <h3>{{ detail.student.first_name }} {{ detail.student.last_name }}</h3>
        <p>All videos watched: {{ detail.all_videos_watched|yesno:"Yes,No" }}</p>
        <p>All quizzes completed: {{ detail.all_quizzes_completed|yesno:"Yes,No" }}</p>
        <p>Quiz average score greater than 50: {{ detail.pass_score|yesno:"Yes,No" }}</p>
        <p>Course Completed: {{ detail.course_completed|yesno:"Yes,No" }}</p>
    {% endfor %}

{% endblock %}
