<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'olapp/instructor_base.css' %}"/>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <title> Instructor - {% block title %} Welcome! {% endblock %}</title>
    </head>
    <body>
        <div class = "content-wrapper">
            <div class="banner">
                <img src="{% static 'olapp/images/image2.png' %}" alt="Image 2">
                <img src="{% static 'olapp/images/image1.png' %}" alt="Image 1">
                <img src="{% static 'olapp/images/image3.png' %}" alt="Image 3">
                <img src="{% static 'olapp/images/image1.png' %}" alt="Image 1">
             </div>
             <div class = "container">
                <h1>{% block myhdg %} Welcome to our online learning platform {% endblock %}</h1>
                {% block body_block %}*** {% endblock %}

                <div>
                    <ul class = "gericho">
                        <li class="hbar1"><a href="{% url 'olapp:instructor_homepage' %}">Home</a></li>
                        <li class="hbar1"><a href="{% url 'olapp:instructor_course_list' %}">Courses</a></li>
                        {% if user.is_authenticated %}
                            <li class="hbar1"><a href="{% url 'olapp:logout' %}">Logout</a></li>
                        {% else %}
                            <li class="hbar1"><a href="{% url 'olapp:instructor_login' %}">Login</a></li>
                            <li class="hbar1"><a href="{% url 'olapp:instructor_register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                    
                 </div>
            </div>
        </div>        
    </body>
</html>