{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'olapp/style.css' %}"/>
        <title>{% block title %} Instructor Login {% endblock %}</title>
    </head>
    <body>
        <div>
            <h1>{% block myhdg %} Welcome to our online learning platform {% endblock %}</h1>
            {% block body_block %}
                <form action="{% url 'olapp:instructor_login' %}", method='post'>
                    {% csrf_token %}
                    {{form}}
                    <input type="submit" value="Login">
                </form>
            {% endblock %}
        </div>
        <hr />
    </body>
</html>