{% extends 'olapp/student_base.html' %}
{% block body_block %}
    <p>Welcome, {{user.username}}. </p>
    {% if student.membership == 'G' %}
        <h4>You are a Gold Member!</h4>
    {% else %}
        <a href="{% url 'olapp:buy_membership' %}">
        <button>Buy Gold Membership</button></a>
    {% endif %}
    {% if student.courses.all %}
        <h3>Enrolled courses: </h3>

        <ul>
        {% for course in student.courses.all %}
            <li><p>{{course.name}}
                <a href="{% url 'olapp:student_course_detail' pk=course.id %}">
                    <button>View Course </button></a></p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h4>You are not enrolled in any courses as of now.</h4>
    {% endif %}
{% endblock %}